# --- Compilación y Sistema ---
bin/
obj/
.cache/
.directory

*.o
*.out
*.exe
*.a
*.so

# --- Archivos de Herramientas y Editores ---
Session.vim
compile_commands.json

.vscode/
.idea/
__pycache__/

# --- Archivos Temporales ---
a
*.ll
*.s
*.bc

# --- Tests ---
tests/build/

# --- Debugging ---
core
vgcore.*
*.log
