# --- Carpetas de Compilación y Sistema ---
bin/
obj/
.cache/
.directory

# --- Archivos de Herramientas y Editores ---
.vscode
compile_commands.json
Session.vim

# --- Archivos Temporales ---
*.ll
*.s

# --- Archivos Arcana ---
*.arcn
!tests/valid/*.arcn
!tests/invalid/*.arcn

# --- Tests ---
test/build

# --- Binarios Comunes (por si acaso) ---
*.o
*.out
*.exe
